

table{

    font-size: larger;
    
    color: rgb(255, 255, 255);
    border: 2%x solid black;
    height: 100px;
    width: 100px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:rgb(104, 14, 200) ; 
   
}

table tr th{
    align-items: center;
    color: rgba(183, 154, 8, 0.875);
    border: 1px solid black;
    padding: 30px 20px;
   background-color: rgb(42, 52, 165);
}



table tr td{
    align-items: center;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 20px 20px;
    background-color: rgb(42, 134, 165);
   
}
